<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="zlib" version="1.2.7.33" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.7.33" targetFramework="Native" />
  <package id="libiconv" version="1.14.0.7" targetFramework="Native" />
  <package id="libiconv.redist" version="1.14.0.7" targetFramework="Native" />
</packages>